.firstImg{
    width: 100%;
    height: auto;
}

div.p{
    font-weight: bold;
}
.first-tag{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    
}
.first-tag h1{
    line-height:0.3;
}
.first-tag p{
    line-height: 0.3;
}
.first-tag div{
    margin: 30px;
}
.second-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a{
    text-decoration: none;
}
a img {
        width: 164px;
        height: 49px;
}
.smartPhone{
    width: 300px;
    height: 300px;
}
.getTag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F1;
    padding:50px 40px 50px 40px;
}
.innerTag{
    margin-right: 50px;
}

.first-bar {
    background-color: #EDDED7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    overflow: hidden;
}
.first-bar div{
    width: 30%;
}
.first-bar img{
    width: 500px;
    height: 400px;
    transform: translate(-25%, 0%);
    
}
.second-bar{
    background-color: #D9D0E3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;

}
.second-bar img{
    width: auto;
    height: 400px;
    
}
.second-bar div{
    width: 30%;
    transform: translate(-20%, 0%);
}
.thard-bar{
    background-color:#C8D2DA;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.thard-bar img{
    width: auto;
    height: 400px;
    transform: translate(-10%, 0%);
}
.thard-bar div{
    width: 30%;
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
    padding-left: 15px;
}
.container::-webkit-scrollbar {
    display: none;
}
.product_image{
    width: 250px;
    height: auto;
    margin: 0px 15px 0px 15px;
}
.product_title{
    position: absolute; /* 絶対位置に設定 */
    bottom: 10px; /* 画像の下部からの距離を調整 */
    left: 50%; /* 左端からの距離を調整 */
    transform: translateX(-50%); /* 中央揃え */
    color: white; /* テキストの色を白に設定 */
    padding: 5px; /* パディングを追加 */
    border-radius: 5px; /* 角を丸くする */
    text-align: center; /* テキストを中央揃え */
    width: 90%; /* テキストの幅を調整 */
    font: bold 15px Arial, sans-serif;
}
.product {
    position: relative; /* 子要素の絶対位置を基準にする */
    flex: 0 0 auto; /* 子要素が縮小されないようにする */
}
.bu-ke{
    background-color: #F6F5F1;
    height: auto;
}
.bu-ke_name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bu-ke_name p{
    font-weight: bold;
}
.bu-ke_name h2{
    margin-top: 75px;
}
.bu-ke button{
    margin: 30px ;
    width: 327px;
    height: 50px;
    border-radius: 50vh;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 50px;

}
.bu-ke_button{
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.How-to{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20% ;
}
.item img{
    width: 50%;
}
.How-to-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.item-arrow img{
    width: 50px;

}
.subtitle{
    font-weight: bold;
}
.instagram-bar{
    background-color: #F6F5F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.instagram-bar h2{
    margin-top: 50px;
    margin-bottom: 30px;
}
.instagram{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; /* 要素を折り返す */
}
.item-instagram img{
    margin: 5px;
    width: 220px;
    height: auto;
}
.instagram-div{
    margin-left: 15%;
    margin-right: 15%;
}
.icon_instagram{
    width: 24px;
    height: 24px;
    margin: 8px;
    position: absolute;
    background-image: url(https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon_instagram-cad68eaf4f8d5dffbc6aab90c98858e52b7810fb96348eef73df926171a3648d.png);
    background-size: 24px;
    background-repeat: no-repeat;
}
.instagram_button button{
    margin: 30px ;
    width: 327px;
    height: 50px;
    border-radius: 50vh;
    font-size: 1rem;
    text-decoration: none;
    margin-bottom: 50px;
}
.logo-item img{
    width: auto;
    height: 38px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}
.logo-item{
    margin-top: 40px;
    margin-bottom: 40px;
}
.question-bar{
    background-color: #F6F5F1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.all-question{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
li {
    display: list-item;
    unicode-bidi: isolate;
    color: #3f434a;
}
ul{
    list-style-type: none; /* リストマーカーを削除 */
}
.question{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1em 0 0.5em;
}
.question-bar h2{
    color: #3f434a;
    margin-top: 40px;
    margin-bottom: 0%;
}
.app-bottom {
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/bg_app_bottom-de5cf589e38bd2038e4a7575fc900c805be8f4a1d5ad9a07530c6c9ec2d1bd9e.jpg");
    background-size: cover; 
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    background-position: center; /* 画像を中央に配置 */
    height: 530px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.app-download{
    display: flex;
    flex-direction: row;
    padding: 16px 0;
    gap: 0 16px;
    justify-content: center;
}
.logo-bottom{
    width: 173px;
    height: 110px;
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/logo-64a9e08571ea8941694f2828e0aa1253e037e5273c3cfa37a457430294c33951.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.copy p{
    font-size: 1rem;
    font-weight: bold;
    color: #FFF;
}
.footer a{
    font-size: 1rem;
    color: #FFF;
    margin: 0.5rem;
}
.footer{
    background: #3f434a;
    width: 100%;
    height: 250px;
}
.footer-container{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* 要素を折り返す */

}
.footer-item{
    margin-top: 2rem;
    text-align: center;
}
.footer-instagram{
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon_instagram-cad68eaf4f8d5dffbc6aab90c98858e52b7810fb96348eef73df926171a3648d.png");
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    background-position: center; /* 画像を中央に配置 */
    width: 32px; /* 要素の幅を設定 */
    height: 32px; /* 要素の高さを設定 */
    background-size: cover;
}
.footer-twitter{
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon_twitter-2ed91e7403d3c9925ed616301a4391790ebe90b32a8fd5de4f6d76003a60bc3d.png");
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    background-position: center; /* 画像を中央に配置 */
    width: 32px; /* 要素の幅を設定 */
    height: 32px; /* 要素の高さを設定 */
    background-size: cover;
}
.footer-note{
    background-image: url("https://s3-ap-northeast-1.amazonaws.com/flower-production-assets/assets/web/home/icon_note-c7f6c004e07148e978c001d827adcfe6c1b23d7b1da968a290f62a17ebdf073c.png");
    background-repeat: no-repeat; /* 画像の繰り返しを無効にする */
    background-position: center; /* 画像を中央に配置 */
    width: 32px; /* 要素の幅を設定 */
    height: 32px; /* 要素の高さを設定 */
    background-size: cover;
}
.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.copyright{
    color: #fff;
    font-size: 0.8rem;
    opacity: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
